---
---
@charset "utf-8";

/********************/
/*  FONT VARIABLES  */
/********************/
$icon-font-path:      "../font/bootstrap";
$fa-font-path:        "../font/font-awesome";

/*************/
/*  IMPORTS  */
/*************/

@import "variables";
@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "agency/agency";

/*******************/
/*  GENERAL RULES  */
/*******************/
@media screen and (max-width: 760px) {
  html {
    overflow-x: hidden;
  }
}

body {
    padding-top: 106px;
    font-size: 16px;
    font-weight: 300;
}

.sticky-offset {
    top: 136px;
}

a {
  color: #5ba3d5;
}

h2 {
  margin-top:40px;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 500;
}

.page-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-subtitle {
  margin-bottom: 10px !important;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/**************/
/*   SIDEBAR  */
/**************/

.profile {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 60%;
  border-radius: 50%;
  border: 6px solid #02456f;
}

.side-link{
  font-size: 20px;
  padding-left: 25%;
  padding-bottom: 4px;
  color: #02456F;
}


.about-link{
  color: inherit;
}

.about-link .fa {
  margin-right:10px;
}

.sticky-side-list {
  list-style-type: none;
  padding: 0px;
}

.sticky-side {
  padding-left: 25%;
}

/**************/
/*   NAVBAR   */
/**************/


.navbar {
  padding: 10px 140px;
  background-color: #02456F;
}

@media (max-width: 640px) {
  .navbar {
    padding: 10px 30px 14px 0px;
  }
}

.navbar-brand {
  font-size: 28px;
}

.main-nav-link{
  font-size: 20px;
  padding: 16px 20px !important;
  color: #fff !important;

  /* Set up the hover */
  /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
  background-image: linear-gradient(white, white);
  background-size: 0 3px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.main-nav-link.active {
    background-size: 80% 3px, auto !important;
}


.main-nav-link:hover {
  background-size: 80% 3px, auto;
}


/**************/
/*    ABOUT   */
/**************/


.btn-circle:focus, .btn-circle:hover {
    outline: 0;
    color: #fff;
    background: black;
}

.btn-primary {
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 10px 15px;
  color: #fff;
  background-color: #02456f;
  border-color: #02456f;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 100% !important;
    font-size: 40px;
    color: black;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.education-row {
  margin-bottom: 50px;
}

.education-img {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.education-img img{
  max-height:120px;
  max-width: 100%;
}

@media (max-width: 640px) {
  .education-img img{
    max-height: 150px;
    max-width: 180px;
  }
}

.about-text{
  text-align: justify;
  padding: 0px 15px;
  border-left-style: solid;
  border-left-color: #02456f;
  border-left-width: medium;
}

.education-title {
  font-size: 20px;

}

.education-period {
  font-size: 16px;
  color: #b4b4b4;
}

.education-tag {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  background-color: #02456f;
  color: #FFF
}


/**************/
/*  RESEARCH  */
/**************/

.publi-row {
  margin-bottom: 40px;
}

.publi-modal {
  min-height: 0px !important;
  margin-bottom: 0px !important;
}

.publi-title {
  font-size: 18px;
  font-weight: 500;
}

.publi-authors {
  font-size: 14px;
}

.publi-info {
  color: #b4b4b4;
}



@media (max-width: 640px) {
  .img-modal {
    display: none;
  }
  .publi-title {
    font-size: 16px;
  }
  .publi-authors {
    font-size: 12px;
  }
}





.publi-tag {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  background-color: #02456f;
  color: #FFF
}

.teach-row {
  margin-bottom: 50px;
}

.teach-title {

  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
}

.teach-period {

  color: #b4b4b4;
}

.teach-location {
  font-size: 16px;
}

.teach-text {
  font-size: 16px;
}

@media (max-width: 640px) {
  .teach-text div {
    font-size: 14px;
  }
}

/************/
/*  MAPBOX  */
/************/

#mapbox {
  width: 100%;
  height: 500px;
}

.marker {
  background-image: url('../img/map-icon.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}


.mapboxgl-popup {
  border-radius: 4px 4px 0px 0px;
  max-width: 350px;

}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 4px !important;
  font-family: 'Open Sans', sans-serif !important;
  width: 350px;
  padding: 0px !important;
  overflow: hidden;
}
@media(max-width:767px) {
  .mapboxgl-popup-content {
    width: 90%;
  }
}

.mapbox-title {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  margin-top: 10px;
}

.mapbox-sub {
  font-size: 16px;
  color: #b4b4b4;
}


.mapbox-text {
  margin: 4px;
  font-size: 14px;
}

.mapbox-text p {
  line-height: 100% !important;
  margin-bottom: 10px;
}

.mapbox-links {
  font-size: 14px;
}


/***************/
/*  INTERESTS  */
/***************/

.interests-row {
  margin: 20px 0px;
}

.interests-tag {
  margin: 3px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 15px;
  background-color: #02456f;
  color: #FFF;
}

/**************/
/*  PROJECTS  */
/**************/

.project:hover {
  opacity: 1;
  cursor: pointer;
}

.project {
  height:180px;
  margin-bottom: 20px;
  color: white;
  opacity: 0.8;
}

.project-title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;

}

.project-subtitle {
  font-style: italic;
  font-weight: 300;

}

.project-paragraph {
  margin-top: 30px;
  margin-bottom:6px;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}




// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
