---
---
@charset "utf-8";

/********************/
/*  FONT VARIABLES  */
/********************/
$icon-font-path:      "../font/bootstrap";
$fa-font-path:        "../font/font-awesome";

/*************/
/*  IMPORTS  */
/*************/

@import "variables";
@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "agency/agency";

/*******************/
/*  GENERAL RULES  */
/*******************/

p {
  font-size: 14px;
}


/***********/
/*  ABOUT  */
/***********/


.material-accordion {
  width: 100%;
}
.material-accordion__collapse {
  padding: 10px;
  font-size: 14px;
}
.material-accordion .material-accordion__panel {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
}
.material-accordion .material-accordion__heading {
  padding: 0;
}
.material-accordion .material-accordion__title {
  background-color: #3488d1;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  cursor: default;
  display: block;
  padding: 15px 35px;
  -webkit-transition: background-color 0.5s ease-out 0s;
  transition: background-color 0.5s ease-out 0s;
}
.material-accordion .material-accordion__title:hover {
  text-decoration: none;
}
.material-accordion .material-accordion__title.collapsed {
  cursor: pointer;
  background-color: $theme1;
}

.material-accordion .material-accordion__title.collapsed:hover {
  background-color: $theme1hover;
}



/**************/
/*  RESEARCH  */
/**************/

.card-header {
  background-color: $theme1;
  cursor:pointer;
}
.card-header:hover {
  background-color: $theme2;
  transition: all .5s ease-in-out;
}
.card-header{
  h5 {
    font-weight: 400;
    font-family: Montserrat, "Helvetica";
    font-size: 16px;
  }
}



.material-card {
  border-radius: 0;
  border: none;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
}
.material-card__header {
  position: relative;
}
.material-card__content {
  padding: 20px 10px;
}
.material-card__footer {
  padding: 0px 20px;
  border-top: 1px solid #eee;
}
.material-card__footer:after {
  content: "";
  display: block;
  clear: both;
}
.material-card__img {
  max-width: 100%;
  height: auto;
}
.material-card__title {
  margin: 0 0 15px;
}
.material-card__showmore {
  display: block;
}
.material-card__showmore_pos-left {
  float: left;
  margin-right: 10px;
}
.material-card__showmore_pos-right {
  float: right;
  margin-left: 10px;
}


.material-panel {
  margin-top: 10px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
}
.material-panel__heading {
  border-radius: 4px 4px 0 0;
  font-weight: 700;
  border: none;
  padding: 10px 10px;
  margin: 0px;
}
.material-panel__body {
  background-color: #fff;
  padding: 5px 10px;
}
.material-panel__heading {
  background-color: #eee;
  color: #000;
}
.material-panel_primary .material-panel__heading {
  background-color: $theme1;
  color: #fff;
}




/************/
/*  MAPBOX  */
/************/

#mapbox {
  width: 100%;
  height: 600px;
}

.marker {
  background-image: url('../img/map-icon.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}


.mapboxgl-popup {
  border-radius: 4px 4px 0px 0px;
  max-width: 700px;

}


.mapboxgl-popup-content {
  text-align: center;
  border-radius: 4px 4px 0px 0px !important;
  font-family: 'Open Sans', sans-serif !important;
  width: 450px;
  padding: 0px !important;
  overflow: hidden;
}
@media(max-width:767px) {
  .mapboxgl-popup-content {
    width: 90%;
  }
}

.mapboxgl-popup-title {
  padding: 10px;
  font-size: 30px;
  line-height: 10px;
  background-color: $theme1;

}

.mapboxgl-popup-location {
  font-style: italic;
  font-size: 18px;
  padding: 10px 0px;

}

.mapboxgl-popup-description {
  padding: 6px 10px;
}

.mapboxgl-popup-links {
  background-color: $theme1;
  font-size: 14px;
  padding: 6px 0px;
}

/**************/
/*  PROJECTS  */
/**************/

.material-project {
  cursor: pointer;

  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
  min-height: 550px;
  margin-bottom: 40px;
}

.material-project__heading {
  padding: 10px 10px;
  border-radius: 4px 4px 0 0;
  color: white;
  background-color: $theme1;
}

.material-project__heading h4 {
  margin: 0px;
}


.material-project__image{
  height: 180px;
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.material-project__image img {
  min-height: 100%;
  min-width: 100%;
  max-width: auto;
}

.material-project__body {
  padding: 10px;
}

.material-project__footer {

}

/* Projects modal */




/***************/
/*  INTERESTS  */
/***************/

/***************/
/*  EDUCATION  */
/***************/




/**********/
/*  TAGS  */
/**********/



.material-label {
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 16px;
  margin:2px;
  -webkit-transition-property: box-shadow, background-color;
  transition-property: box-shadow, background-color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.material-label_lg {
  padding: 5px 20px;
  font-size: 16px;
}
.material-label_sm {
  padding: 3px 12px;
  font-size: 13px;
}
.material-label_xs {
  padding: 2px 8px;
  font-size: 12px;
}
.material-label {
  background-color: #eee;
  border: 1px solid #eee;
  color: #000;
}
.material-label:hover {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
}
.material-label_primary {
  background-color: $theme1;
  border: 1px solid $theme1;
  color: #fff;
}
.material-label_primary:hover {
  background-color: #64b2f5;
  border: 1px solid #64b2f5;
}

/**********************************/
/*  Intro button : grayscale css  */
/**********************************/

.btn-circle:focus, .btn-circle:hover {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100% !important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn {
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
