<div class="sticky-side">

  <ul class="sticky-side-list">
    <li><a class="about-link" href="mailto:koval[dot]igor[dot]92[at]gmail[dot]com">
      <i class='fa fa-fw fa-envelope'></i>Email
    </a></li>

    <li><a class="about-link" href="https://www.linkedin.com/in/igor-koval-98767360/">
      <i class='fa fa-fw fa-linkedin'></i>Linked'In
    </a></li>

    <li><a class="about-link" href="https://github.com/Symcies">
      <i class='fa fa-fw fa-github'></i>Github
    </a></li>

    <li><a class="about-link" href="https://gitlab.icm-institute.org/igor.koval">
      <i class='fa fa-fw fa-gitlab'></i>Gitlab
    </a></li>

    <li><a class="about-link" href="https://scholar.google.fr/citations?user=dlgocecAAAAJ&hl=fr">
      <i class='fa fa-fw fa-google'></i>Scholar
    </a></li>
  </ul>

</div>

<hr style="width:60%; background:#02456F;">

<div class="sticky-side">

  <ul class="sticky-side-list">
    <li><a class="about-link" href="http://www.aramislab.fr/">
      <i class='fa fa-fw fa-map-marker'></i>Aramis Lab
    </a></li>

    <li><a class="about-link" href="https://icm-institute.org/fr/">
      <i class='fa fa-fw fa-building-o'></i>ICM
    </a></li>

    <li><a class="about-link" href="http://pitiesalpetriere.aphp.fr/">
      <i class='fa fa-fw fa-user-md'></i>Pitié Salpétrière
    </a></li>

    <li><a class="about-link" href="http://europond.eu/">
      <i class='fa fa-fw fa-university'></i>EuroPOND
    </a></li>

    <li><a class="about-link" href="https://portail.polytechnique.edu/cmap/fr">
      <i class='fa fa-fw fa-bar-chart'></i>CMAP
    </a></li>

  </ul>

</div>
