<!-- About -->
 <section  class="bg-light" id="about">

   <!-- General presentation : ABOUT ME -->
	 <div class="container">
		 <div class="row">
			 <div class="col-lg-12 text-center">
				 <h2 class="section-heading text-uppercase">About me</h2>
				 <h3 class="section-subheading text-muted">_____________________________</h3>
			 </div>
		 </div>



     <!-- ROW  -->
		 <div class="row text-center">

       <!-- PART I : PHD STUDENT -->
			 <div class="col-md-4">
				 <span class="fa-stack fa-4x">
					 <i class="fa fa-circle fa-stack-2x text-primary"></i>
					 <i class="fa fa-search fa-stack-1x fa-inverse"></i>
				 </span>
				 <h4 class="service-heading">PhD Student</h4>

         <div class="panel-group material-accordion text-justify" id="accordion1">
           <div class="panel panel-default material-accordion__panel">
             <div class="panel-heading material-accordion__heading">
               <h6 class="panel-title">
                 <a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion1" href="#acc1_collapseTwo">Developing Machine Learning tools to investigate neurodegenerative processes and dynamics</a>
               </h6>
             </div>
             <div id="acc1_collapseTwo" class="panel-collapse collapse material-accordion__collapse">
               <div class="panel-body">
                 I'm a PhD Student in Machine Learning, under the supervision of Stanley Durrleman and Stéphanie Allassonnière. I belong to the Centre de Mathématiques Appliquées de l'Ecole Polytechnique while working at the Aramis Lab, part of the Brain and Spine Institute, located in the Pitié-Salpétrière Hospital, in the heart of Paris.
               </div>
             </div>
           </div>
         </div>
			</div>

      <!-- PART II : MAKE IMPACT -->
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Make impact</h4>

        <div class="panel-group material-accordion text-justify" id="accordion2">
          <div class="panel panel-default material-accordion__panel">
            <div class="panel-heading material-accordion__heading">
              <h6 class="panel-title">
                <a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion2" href="#acc2_collapseTwo">Using my mathematical and coding skills to create impact where it matters</a>
              </h6>
            </div>
            <div id="acc2_collapseTwo" class="panel-collapse collapse material-accordion__collapse">
              <div class="panel-body">
                Beyond medical application, I love to develop tools or share my knowledge in many applications to help people achieve their goals, as long as they involve motivating & positive impacts. This includes various projects from a chatbot for a Social-and-Solidarity association to a web-app to choose and analyze the different political parties at the French election through teaching at University or a Data Science Summer School.
              </div>
            </div>
          </div>
        </div>
     </div>



     <div class="col-md-4">
       <span class="fa-stack fa-4x">
         <i class="fa fa-circle fa-stack-2x text-primary"></i>
         <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
       </span>
       <h4 class="service-heading">Learn</h4>

       <div class="panel-group material-accordion text-justify" id="accordion3">
         <div class="panel panel-default material-accordion__panel">
           <div class="panel-heading material-accordion__heading">
             <h6 class="panel-title">
               <a class="collapsed material-accordion__title" data-toggle="collapse" data-parent="#accordion3" href="#acc3_collapseTwo">Learning and keeping an open mind to innovative ideas, framework, tools.</a>
             </h6>
           </div>
           <div id="acc3_collapseTwo" class="panel-collapse collapse material-accordion__collapse">
             <div class="panel-body">
               Because I would like to be as proficient as possible, I try to stay tuned about the innovations and researches that might impact my working areas. (#ArtificalIntelligence, #Frameworks, #APIs, #MachineLearning, #Research, #...).
             </div>
           </div>
         </div>
       </div>
    </div>

     </div>
	 </div>
 </section>
