<!-- Services -->
 <section  class="bg-light" id="about">
	 <div class="container">
		 <div class="row">
			 <div class="col-lg-12 text-center">
				 <h2 class="section-heading text-uppercase">About me</h2>
				 <h3 class="section-subheading text-muted">_____________________________</h3>
			 </div>
		 </div>
		 <div class="row text-center">
			 <div class="col-md-4">
				 <span class="fa-stack fa-4x">
					 <i class="fa fa-circle fa-stack-2x text-primary"></i>
					 <i class="fa fa-search fa-stack-1x fa-inverse"></i>
				 </span>
				 <h4 class="service-heading">PhD Student</h4>
				 <p class="text-muted">Investigating neurodegenerative processes and dynamics thanks to AI tools.</p>
			 </div>
			 <div class="col-md-4">
				 <span class="fa-stack fa-4x">
					 <i class="fa fa-circle fa-stack-2x text-primary"></i>
					 <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
				 </span>
				 <h4 class="service-heading">Make impact</h4>
				 <p class="text-muted"> Using my mathematical and coding skills to create impact where it matters.</p>
			 </div>
			 <div class="col-md-4">
				 <span class="fa-stack fa-4x">
					 <i class="fa fa-circle fa-stack-2x text-primary"></i>
					 <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
				 </span>
				 <h4 class="service-heading">Learn</h4>
				 <p class="text-muted">Learning and keeping an open-mind to innovative ideas.</p>
			 </div>
		 </div>
     <div class="row text-center">
			 <div class="col-lg-10 offset-lg-1">
         <hr>
         <p>I'm a PhD Student in Machine Learning, under the supervision of Stanley Durrleman and Stéphanie Allassonnière. I belong to the Centre de Mathématiques Appliquées de l'Ecole Polytechnique while working at the Aramis Lab, part of the Brain and Spine Institute, located in the Pitié-Salpétrière Hospital, in the heart of Paris.</p>
         <p>Beyond medical application, I love to develop tools or share my knowledge in many applications to help people achieve their goals, as long as they involve motivating & positive impacts. This includes various projects from a chatbot for a Social-and-Solidarity association to a web-app to choose and analyze the different political parties at the French election through teaching at University or a Data Science Summer School.</p>
         <p>Because I would like to be as proficient as possible, I try to stay tuned about the innovations and researches that might impact my working areas. (#ArtificalIntelligence, #Frameworks, #APIs, #MachineLearning, #Research, #...) </p>
       </div>
     </div>
	 </div>
 </section>
