<!-- About -->
 <section id="education">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading text-uppercase">Education</h2>
         <h3 class="section-subheading text-muted">Short description of my educational background.</h3>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-12">
         <ul class="timeline">
           <li>
             <div class="timeline-image">
               <img class="rounded-circle img-fluid" src="img/education/aramis.png" alt="">
             </div>
             <div class="timeline-panel">
               <div class="timeline-heading">
                 <h4>2016-2019</h4>
                 <h4 class="subheading">PhD Student</h4>
               </div>
               <div class="timeline-body">
                <p class="text-muted">Development of statistical models of propagation of neurodegenerative diseases. Implementation of an open-source C++ software to reconstruct disease progression out of individual longitudinal data. Application to multiple disease (Alzheimer's, Parkinson's, Huntington's, ...) in multiple clinical centers (France, Italy, Netherlands).</p>
               </div>
             </div>
           </li>
           <li class="timeline-inverted">
             <div class="timeline-image">
               <img class="rounded-circle img-fluid" src="img/education/m2.png" alt="">
             </div>
             <div class="timeline-panel">
               <div class="timeline-heading">
                 <h4>2015-2016</h4>
                 <h4 class="subheading">M. Sc. Data Science</h4>
                 <h4 class="subheading">Ecole Polytechnique</h4>
               </div>
               <div class="timeline-body">
                 <p class="text-muted">Master of Data Science at Ecole Polytechnique, Télécom Paris, ENSAE, Université Paris-Sud. It focuses on theoretical courses in maths and computer science, various machine-learning projects and hackathons-like sessions. <a href="https://datascience-x-master-paris-saclay.fr/">A description of the master and a list of courses can be found here.</a> </p>
               </div>
             </div>
           </li>
           <li>
             <div class="timeline-image">
               <img class="rounded-circle img-fluid" src="img/education/ponts.jpg" alt="">
             </div>
             <div class="timeline-panel">
               <div class="timeline-heading">
                 <h4>2012-2016</h4>
                 <h4 class="subheading">M. Sc. Engineering</h4>
                 <h4 class="subheading">Ecole des Ponts et Chaussées</h4>
               </div>
               <div class="timeline-body">
                 <p class="text-muted">One of French "Grandes-Ecoles", part of top engineering schools. Courses included strong mathematical, compute science and Design Thinking curriculum<p>
               </div>
             </div>
           </li>
           <li  class="timeline-inverted">
             <div class="timeline-image">
               <img class="rounded-circle img-fluid" src="img/education/argonne.jpg" alt="">
             </div>
             <div class="timeline-panel">
               <div class="timeline-heading">
                 <h4>2014-2015</h4>
                 <h4 class="subheading">Internships</h4>
                 <h4 class="subheading">Argonne National Laboratory</h4>
                 <h4 class="subheading">Capgemini Consulting</h4>
               </div>
               <div class="timeline-body">
                 <p class="text-muted">Gap year splited into two internships. First at Capgemini Consulting where we developed new business models involving innovative technologies : 3D printing, machine learning, Virtual and Augmented Reality.</p><br>
                 <p class="text-muted">Second part at the Argonne National Laboratory, Chicago, USA. We implemeted traffic flow equations and models (C++ software) to simulate mesoscopic interactions in traffic transportation.</p>
               </div>
             </div>
           </li>
           <li>
             <div class="timeline-image">
               <img class="rounded-circle img-fluid" src="img/education/dauphine.jpg" alt="">
             </div>
             <div class="timeline-panel">
               <div class="timeline-heading">
                 <h4>2014-2015</h4>
                 <h4 class="subheading">B. Sc. in Applied Economics</h4>
               </div>
               <div class="timeline-body">
                 <p class="text-muted">While performing my internships, I was willing to use my mathematical backgroung in my future carrer and thus decided to fullfil a B. Sc. in Applied Economics, at University Paris-Dauphine.<p>
               </div>
             </div>
           </li>

           <li class="timeline-inverted">
             <div class="timeline-image">
               <img class="rounded-circle img-fluid" src="img/education/georgiatech.jpg" alt="">
             </div>
             <div class="timeline-panel">
               <div class="timeline-heading">
                 <h4>2013</h4>
                 <h4 class="subheading">GeorgiaTech</h4>
                 <h4 class="subheading">Civil Engineering Lab</h4>
               </div>
               <div class="timeline-body">
                 <p class="text-muted">Four months internship in a Civil Engineering Laboratory under the supervision of Dr. Frost. Development of a porosity computation software to compare numerical simulations of soil. This led to the publication of a paper "Comparison between geometrical and dynamic particle packing" <a href="https://books.google.fr/books?hl=fr&lr=&id=K2HLBQAAQBAJ&oi=fnd&pg=PA109&dq=i+koval+frost+numerical+packing&ots=B3ZykBm7LM&sig=sxUWmWfedgPAKUQJxmxeXBeGtdI#v=onepage&q&f=false">that can be found here,</a> and which was presented at a Symposium in London<p>
               </div>
             </div>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </section>
