<!-- Scientific interests -->
<section class="bg-light" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Scientific Interests and Skills</h2>

      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Applied Maths</h4>
        <div class="main-container__section">
          <span class="label label-primary material-label material-label_primary main-container__column">Machine Learning</span>
          <span class="label label-primary material-label material-label_primary main-container__column">Data Science</span>
          <span class="label label-primary material-label material-label_primary main-container__column">Statistical Learning</span>
          <span class="label label-primary material-label material-label_primary main-container__column">Riemannian Geometry</span>
          <span class="label label-primary material-label material-label_primary main-container__column">Bayesian Statistics</span>
          <span class="label label-primary material-label material-label_primary main-container__column">EM-like Algorithms</span>
          <span class="label label-primary material-label material-label_primary main-container__column">MCMC methods</span>
        </div>

      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Coding</h4>
        <span class="label label-primary material-label material-label_primary main-container__column">C++</span>
        <span class="label label-primary material-label material-label_primary main-container__column">Python</span>
        <span class="label label-primary material-label material-label_primary main-container__column">Matlab</span>
        <span class="label label-primary material-label material-label_primary main-container__column">Linux Environnements</span>
        <span class="label label-primary material-label material-label_primary main-container__column">HTML / CSS</span>
        <span class="label label-primary material-label material-label_primary main-container__column">Javascript</span>
        <span class="label label-primary material-label material-label_primary main-container__column">NodeJS</span>
        <span class="label label-primary material-label material-label_primary main-container__column">Bootstrap</span>
        <span class="label label-primary material-label material-label_primary main-container__column">PyTorch</span>
        <span class="label label-primary material-label material-label_primary main-container__column">Flask</span>
        <span class="label label-primary material-label material-label_primary main-container__column">Sklearn</span>
        <span class="label label-primary material-label material-label_primary main-container__column">Distributed Computing</span>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-language fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Language</h4>
          <span class="label label-primary material-label material-label_primary main-container__column">French: Native</span>
          <span class="label label-primary material-label material-label_primary main-container__column">Ukrainian: Native</span>
          <span class="label label-primary material-label material-label_primary main-container__column">English: Fluent</span>
          <span class="label label-primary material-label material-label_primary main-container__column">Russian: Good understanding</span>
      </div>
    </div>
  </div>
</section>
