<!-- Team -->
<section  id="research">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Research</h2>
        <h3 class="section-subheading text-muted">The aim of my PhD is to explore the dynamics of neurodegenerative diseases, especially the Alzheimer's Disease, to learn statistical models that characterize the average and individual progressions of the disease.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <h4>Keywords</h4>
        <ul>
          <li>
            Statistical Learning
          </li>
          <li>
            Bayesian methods
          </li>
          <li>
            Riemannian Geometry
          </li>
        </ul>
      </div>
      <div class="col-sm-4 text-center">
        <h4>Development</h4>
      </div>
      <div class="col-sm-4 text-center">
        <h4>Publications</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>
