<!-- Team -->
<section  id="research">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Research</h2>
        <h3 class="section-subheading text-muted">Explore the dynamics of neurodegenerative diseases to learn statistical models that characterize average and individual progressions of the disease.</h3>
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <h4>Keywords</h4>
        <ul>
          <li>Statistical Learning</li>
          <li>Bayesian Inference</li>
          <li>Riemannian Geometry</li>
        </ul>
      </div>
      <div class="col-sm-4 text-center">
        <h4>Development</h4>
        <p class="text-muted">Development of an open source C++ software (released soon)</p>
      </div>
      <div class="col-sm-4 text-center">
        <h4>Publications</h4>
        <ul>
          <li>MICCAI</li>
          <li>Frontiers</li>
        </ul>
      </div>
    </div>
  </div>
</section>
